{% extends "base.html" %}

{% block title %}add a post{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <form action="/post/add/" method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field }}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}